body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
.header  {
    background-color: #222;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 40px 20px;
    animation: glow 10s infinite;
}

@keyframes glow {
    0% {
        
        background-color:  rgb(242, 0, 0);
    }
    50% {
        box-shadow: 2px 2px 4px rgb(255, 0, 0);
        background-color: rgba(0, 162, 255, 0.47);
    }
    100% {
        box-shadow: 2px 2px 4px rgba(14, 10, 10, 0.3); 
        background-color: rgb(5, 0, 0);
    }
}

h1{
    text-shadow: 2px 2px 4px white;

}
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid rgb(241, 0, 0);
}

/* nav */

nav{
    display: flex;
    justify-content: center ;
}

ol{
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
}


ol li a{
    margin: 0 15px;
    color: white;
    font-size: 20px;
}

ol li a:hover{
    cursor: pointer;
    color: lightgray;
}

li{
    text-decoration: none;

    
}

/* Sections */
section {
    padding: 40px 20px;
    max-width: 800px;
    margin: auto;
}

.about p{
    color: blac
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Projects */
.projects ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.projects li {
    background: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
}

ul li:hover{
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

/* Footer */
.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 30px 20px;
}
