
body {
    background-color: #000000; 
    color: #FFFFFF;             
    font-family: Arial, sans-serif; 
    margin: 0;                 
    padding: 0;                
    min-height: 100vh;          
    display: flex;              
    flex-direction: column;
    justify-content: space-between; }

main{
    margin-bottom: 50px;
}

.hd1{
    background-image: url("https://www.freepik.com/free-photos-vectors/authentic-professional-background");
    height: 30vh;
    box-shadow: 2px 2px 2px blue;
}
.nav1{
    display: 1;
    float: right;
    
}

.no{
    background-color: #FFD700;
    color: black;
    border-radius: 30%;
    border-style: inset;
    border-width: thick;
    margin: 15px;
}

.no:hover{
    background-color:#D3AF37;
}

.c{
    display: flex;
    justify-content: space-between;
}

.main{
    display: 1;
    width:50%;
    height: 75vh;
    background-image: url("https://www.123freevectors.com/abstract-cool-grey-texture-background-design-120752/");
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px white;
}

.n1 ,.n2{
    display: 1;
    width:25%;
    height: 75vh;
    box-shadow: 2px 2px 5px blue;
}

footer{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
    box-shadow: 2px 2px 2px blue;
    background-image: url("https://www.freepik.com/free-photos-vectors/professional-background");
}






@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0; 
  }
  to {
    transform: translateX(0);
    opacity: 1; 
  }
}

.title{
   color: white; 
    text-shadow: 5px 5px 10px blue;
    animation:a;
    animation-iteration-count: 1;  
  animation-name: slideIn;
  animation-duration: 1s; /* How long the animation takes */
  animation-timing-function: ease-out; /* Makes the animation smoother */
  animation-fill-mode: forwards; /* Ensures the title stays in its final position after the animation finishes */
}






