*{
    font-family: sans-serif;
}


body {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    background-color: white; 
    color: #FFFFFF;             
    font-family: Arial, sans-serif; 
    margin: 0;                 
    padding: 0;         
    
    min-height: 100vh;          
    display: flex;              
    flex-direction: column;
    justify-content: space-between;\
}


/*main  */
main{
    margin-bottom: 50px;
    height: 500px;
    background-color: dark-gray;
}


.c{
    display: flex;
    height: calc(sqr(20));
    justify-content: space-between;
    border: 5px solid black;
    background-color: gray;
    background-image: url("1.avif");
}


#main{
    display: 1;
    width:50%;
    height: 105vh;  
    background-image: url("https://www.123freevectors.com/abstract-cool-grey-texture-background-design-120752/");
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px black;
    color: black;
    font-family: palatino;
    font-size: 10px;
    color: black;
    font-family: sans-serif
}





.n1 ,.n2{
    display: 1;
    width:25%;
    height: 105vh;
    box-shadow: 2px 2px 5px blue;
}

/*  footer/contact*/

.fta{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30vh;
    box-shadow: 2px 2px 2px blue;
    background-image: url("https://www.freepik.com/free-photos-vectors/professional-background");
    background-color: rgba(white);
    border: 5px solid black;
    color: black;
    font-family:monospace;
    font-size: 20px;
    box-shadow: 2px 2px 6px black;
}





/* title */



@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0; 
  }
  to {
    transform: translateX(0);
    opacity: 1; 
  }
}

.hd{
    display: flex;
    height: calc(sqr(20));
    justify-content: space-between;
    border: 5px solid black;
    background-color: gray;
    background-image: url("1.avif");    
}

.title{
   color: white; 
   text-shadow: 5px 5px 10px blue;
   animation:a;
   animation-iteration-count: 1;  
   animation-name: slideIn;
   animation-duration: 1s; /* How long the animation takes */
   animation-timing-function: ease-out; /* Makes the animation smoother */
   animation-fill-mode: forwards; 
   background-color: dark-gray;

/* nav */
.nav1{
    display: 1;
    float: right;
    
}

ul{
    background-color: rgba(240, 248, 255, 0.3);
    border-radius: 5%;
    border: 2px solid blue;
    
}    

li{
    background-color: rgba(240, 248, 255, 30%);
    border-radius: 5%;
    border: 2px solid blue;
}

ul:hover{
    background-color:rgba(240, 248, 255, 0.8);
    border-radius: 5%;

}






