
body {
    background-color: #000000; 
    color: #FFFFFF;             
    font-family: Arial, sans-serif; 
    margin: 0;                 
    padding: 0;                
    min-height: 100vh;          
    display: flex;              
    flex-direction: column;
    justify-content: space-between; }

main,footer,header{
    margin-bottom: 30px;
}

.hd1{
    background-image: url("https://www.freepik.com/free-photos-vectors/authentic-professional-background");
    height: 300vh;
    box-shadow: 2px 2px 2px blue;
}
.nav1{
    display: 1;
    float: right;
}

.c{
    display: flex;
    justify-content: space-between;
}

.main{
    display: 1;
    width:50%;
    height: 75vh;
    background-image: linear-gradient(90deg,rgba(0, 0, 0, 0.1) 0%, rgba(50, 82, 64, 0.1) 29%, rgba(245, 220, 0, 0.1) 40%) ,url("https://www.123freevectors.com/abstract-cool-grey-texture-background-design-120752/");
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px white;
}

.n1 ,.n2{
    display: 1;
    width:25%;
    height: 75vh;
    box-shadow: 2px 2px 5px blue;
}

footer{
    height: 50vh;
    box-shadow: 2px 2px 2px blue;
    background-image: url("https://www.freepik.com/free-photos-vectors/professional-background");
}






@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0; 
  }
  to {
    transform: translateX(0);
    opacity: 1; 
  }
}

.title{
   color: white; 
    text-shadow: 2px 2px 2px black;
    animation:a;
    animation-iteration-count: 1;  
  animation-name: slideIn;
  animation-duration: 1s; /* How long the animation takes */
  animation-timing-function: ease-out; /* Makes the animation smoother */
  animation-fill-mode: forwards; /* Ensures the title stays in its final position after the animation finishes */
}






