*{
    font-family: sans-serif;
}


body {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
    background-color: white; 
    color: #FFFFFF;             
    font-family: Arial, sans-serif; 
    margin: 0;                 
    padding: 0;         
    min-height: 100vh;          
    display: flex;              
    flex-direction: column;
    justify-content: space-between;\
}


/*main  */
main{
    margin-bottom: 50px;
    height: 500px;
    background-color: dark-gray;
}


.c{
    display: flex;
    height: calc(sqr(20));
    justify-content: space-between;
    border: 5px solid black;
    background-color: gray;
    background-image: url("1.avif");
}

.pa{
    font-size: 14px;
    
}

#main{
    display: 1;
    width:50%;
    height: 76vh;  
    background-image: url("https://www.123freevectors.com/abstract-cool-grey-texture-background-design-120752/");
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px black;
    color: black;
    font-family: palatino;
    font-size: 10px;
    color: black;
    font-family: sans-serif
}





.n1 ,.n2{
    display: 1;
    width:35%;
    height: 105vh;
    box-shadow: 2px 2px 5px blue;
}

/*  footer/contact*/

.fta{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35vh;
    box-shadow: 2px 2px 2px blue;
    background-image: url("https://www.freepik.com/free-photos-vectors/professional-background");
    background-color: hsla(hsla(210, 20%, 98%, 1));
    border: 5px solid black;
    color: black;
    font-family:monospace;
    font-size: 20px;
    box-shadow: 2px 2px 6px black;
}





/* title */



@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0; 
  }
  to {
    transform: translateX(0);
    opacity: 1; 
  }
}

.hd{
    display: flex;
    height: calc(sqr(20));
    justify-content: space-between;
    border: 5px solid black;
    background-color: gray;
    background-image: url("1.avif");    
}

.title{
   color: white; 
   text-shadow: 5px 5px 10px blue;
   animation:a;
   animation-iteration-count: 1;  
   animation-name: slideIn;
   animation-duration: 1s; /* How long the animation takes */
   animation-timing-function: ease-out; /* Makes the animation smoother */
   animation-fill-mode: forwards; 
   background-color: dark-gray;

/* nav */
.nav1{
    display: 1;
    float: right;
    
}

ul{
    background-color: red;
    border-radius: 10%;
    border: 5px solid blue;
    padding: 10px;
    width: 10px;
    height: 10px;
    
}    

li{
    margin: 8px 0;
    padding: 8px;
    background-color: blue;
    border-radius: 5%;
    width: 10px;
    height: 10px;
    border: 2px solid blue;
}

ul:hover{
    width: 10px;
    height: 10px;
    padding: 11px;
    background-color:rgba(240, 248, 255, 0.8);
    border-radius: 5%;

}



    /*work on  */
.contact-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto; /* Centers the container on the page */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.contact-container h2 {
    color: #333;
    margin-bottom: 15px;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.contact-info {
    /* Removes the default italics style of the <address> tag */
    font-style: normal; 
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    gap: 10px; /* Adds space between contact items */
}

.contact-item {
    display: flex;
    justify-content: space-between; /* Aligns label and value to opposite ends */
    align-items: center;
}

.contact-item strong {
    color: #555;
    margin-right: 10px;
}

.contact-item a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-item a:hover {
    color: #0056b3;
    text-decoration: underline;
}








